@model IEnumerable<SchoolManagement.Models.SessionYear>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml"; 
    ViewBag.ActiveTabName = "SessionFee";

}
<div class="card">

    <div class="card-body">
        <h2>Index Page of Session Fee</h2>
</div>
</div>