@model SchoolManagement.Models.Standard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "Standard"; 
}

<div class="content">
    <div class="card">
        <div class="card-body">

<h4>Standard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StandardName" class="control-label"></label>
                <input asp-for="StandardName" class="form-control" />
                <span asp-validation-for="StandardName" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="FeeAmountPerMonth" class="control-label"></label>
                <input asp-for="FeeAmountPerMonth" class="form-control" />
                <span asp-validation-for="FeeAmountPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCycle" class="control-label"></label>
                <input asp-for="BillingCycle" class="form-control" />
                <span asp-validation-for="BillingCycle" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
