@model SchoolManagement.Models.Fee.SessionFeeMaster

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h1>Create</h1>
<div class="content">
    <div class="card">
        <div class="card-body">
<h4>SessionFeeMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StandardId" class="control-label"></label>
                <select asp-for="StandardId" class ="form-control" asp-items="ViewBag.StandardId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionFee" class="control-label"></label>
                <input asp-for="AdmissionFee" class="form-control" />
                <span asp-validation-for="AdmissionFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuitionFee" class="control-label"></label>
                <input asp-for="TuitionFee" class="form-control" />
                <span asp-validation-for="TuitionFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualCharges" class="control-label"></label>
                <input asp-for="AnnualCharges" class="form-control" />
                <span asp-validation-for="AnnualCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityFee" class="control-label"></label>
                <input asp-for="ActivityFee" class="form-control" />
                <span asp-validation-for="ActivityFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportFee" class="control-label"></label>
                <input asp-for="TransportFee" class="form-control" />
                <span asp-validation-for="TransportFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationFee" class="control-label"></label>
                <input asp-for="ExaminationFee" class="form-control" />
                <span asp-validation-for="ExaminationFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportsFee" class="control-label"></label>
                <input asp-for="SportsFee" class="form-control" />
                <span asp-validation-for="SportsFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerFee" class="control-label"></label>
                <input asp-for="ComputerFee" class="form-control" />
                <span asp-validation-for="ComputerFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscellaneousFee" class="control-label"></label>
                <input asp-for="MiscellaneousFee" class="form-control" />
                <span asp-validation-for="MiscellaneousFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>

