@model SchoolManagement.Models.Fee.StandardFee

@{
    ViewData["Title"] = "Standard Fee Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "standardFee";
}

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h6 class="mb-0">Standard Fee Details</h6>
    </div>
    <div class="card-body border border-primary rounded-bottom">
        <div class="row g-4">

            <div class="col-md-4 col-lg-3">
                <label class="text-muted fw-semibold">Standard</label>
                <div class="fs-6">@Model.Standard?.StandardName</div>
            </div>

            <div class="col-md-4 col-lg-3">
                <label class="text-muted fw-semibold">Fee Type</label>
                <div class="fs-6">@Model.FeeType?.Name</div>
            </div>

            <div class="col-md-4 col-lg-3">
                <label class="text-muted fw-semibold">Amount</label>
                <div class="fs-6">@Model.Amount</div>
            </div>

            <div class="col-md-4 col-lg-3">
                <label class="text-muted fw-semibold">Due Date</label>
                <div class="fs-6">
                    @Model.DueDate?.ToString("dd-MM-yyyy") 7
                </div>
            </div>
            <div class="mt-3">
    
                <a class="btn btn-sm  btn-primary text-white btn-outline-secondary ms-2" asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>


