@model SchoolManagement.Models.User.Student

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "Students";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="content">
                <div class="card">
                    <div class="card-body" style="border:1px solid blue">
                        <h6 class="card-header bg-primary text-light mb-2">Edit Info</h6>
                        <hr />
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UniqueId" />

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="DOB" class="control-label"></label>
                                    <input asp-for="DOB" class="form-control" />
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <input asp-for="Gender" class="form-control" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="AdmitionDate" class="control-label"></label>
                                    <input asp-for="AdmitionDate" class="form-control" />
                                    <span asp-validation-for="AdmitionDate" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="StandardId" class="control-label"></label>
                                    <select asp-for="StandardId" class="form-control" asp-items="ViewBag.StandardId"></select>
                                    <span asp-validation-for="StandardId" class="text-danger"></span>
                                </div>
                            </div>

                        <div class="card mt-4 w-100">
                            <div class="card-header bg-light">Address Details</div>
                            <div class="card-body row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.CountryId">Country</label>
                                    <select asp-for="HomeAddress.CountryId" asp-items="ViewBag.CountryId" class="form-control"></select>
                                    <span asp-validation-for="HomeAddress.CountryId" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.StateId">State</label>
                                    <select asp-for="HomeAddress.StateId" asp-items="ViewBag.StateId" onchange="HomeAddress.GetCitiesByStateId($(this).children('option:selected').val())" class="form-control">
                                        <option value="">-- Select State --</option>
                                    </select>
                                    <span asp-validation-for="HomeAddress.StateId" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.CityId">City</label>
                                    <select asp-for="HomeAddress.CityId" asp-items="ViewBag.CityId" class="form-control"></select>
                                    <span asp-validation-for="HomeAddress.CityId" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.AddressLine1">Address Line 1</label>
                                    <input asp-for="HomeAddress.AddressLine1" class="form-control" placeholder="Home Address Line 1" />
                                    <span asp-validation-for="HomeAddress.AddressLine1" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.AddressLine2">Address Line 2</label>
                                    <input asp-for="HomeAddress.AddressLine2" class="form-control" placeholder="Home Address Line 2" />
                                    <span asp-validation-for="HomeAddress.AddressLine2" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.AddressLine3">Address Line 3</label>
                                    <input asp-for="HomeAddress.AddressLine3" class="form-control" placeholder="Home Address Line 3" />
                                    <span asp-validation-for="HomeAddress.AddressLine3" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.NearestLandMark">Nearest Landmark</label>
                                    <input asp-for="HomeAddress.NearestLandMark" class="form-control" placeholder="Nearest Landmark" />
                                    <span asp-validation-for="HomeAddress.NearestLandMark" class="text-danger"></span>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label asp-for="HomeAddress.PinCode">Pin Code</label>
                                    <input asp-for="HomeAddress.PinCode" class="form-control" placeholder="Pin Code" />
                                    <span asp-validation-for="HomeAddress.PinCode" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    
                      <div class="form-group mt-3 text-center">
                                <input type="submit" value="Edit" class="btn btn-primary  " style="width:70px;text-size-adjust:70px" />
                            </div>
                      </form>
                      
                  <div>
               <a asp-action="Index">Back to List</a>
      </div>
</div>
</div>
</div>


@section Scripts {

    <script src="~/Appjs/Address.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                </div>
                
</div></div>