@model SchoolManagement.Models.SessionYear

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewBag.ActiveTabName = "SessionYear";
}
<div class="content">
    <div class="card">
        <div class="card-body">

            <h4>Session Year</h4>
            <hr />

            <form asp-action="Create">
                <input asp-for="IsAcitve" hidden />
                <input asp-for="UniqueId" hidden />
                <input asp-for="CreatedDate" hidden />
                <input asp-for="UpdatedDate" hidden />
  
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                    <div class="col-sm-6 col-md-4  form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-6 col-md-4  form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6 col-md-4  form-group">
                        <label asp-for="SessionName" class="control-label"></label>
                        <input asp-for="SessionName" class="form-control" />
                        <span asp-validation-for="SessionName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-4  form-group">
                        <label asp-for="IsAcitve" class="control-label"></label>
                        <input type="checkbox" asp-for="IsAcitve" />
                        <span asp-validation-for="IsAcitve" class="text-danger"></span>
                    </div>
                    <div class=" col-md-12 form-group align-content-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>


                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
