@model SchoolManagement.Models.Fee.SessionFeeMaster

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "FeeMaster";
}

<h1>Details</h1>

<div>
    <h4>FeeTypeMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UniqueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
